In [386]:
#FN score he got was around 90% in macro, more then 80
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit, GridSearchCV
import matplotlib.pyplot as plot

# we can use the LabelEncoder to encode the gender feature
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder, LabelBinarizer
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit, cross_val_score, GridSearchCV, cross_validate

# importing two different imputation methods that take into consideration all the features when predicting the missing values
from sklearn.impute import KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import SimpleImputer

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from sklearn.dummy import DummyClassifier #Will identify the maority calss base line, model needs to do better then the baseline

# oversample the minority class using SMOTE
from imblearn.over_sampling import SMOTE, RandomOverSampler
from collections import Counter

# to reduce randomness then you put the seed
np.random.seed(42)

In [387]:
df = pd.read_csv("./data/student_prediction.csv")

df.rename(columns = {'KIDS':'PARENT_STATUS'}) #There is a column name error in the data noted in the Kaggle description, this fixes it.
df = df.drop(["STUDENTID", "COURSE ID"], axis=1)

gathered_df = pd.read_csv("./data/Higher Education Students Performance Evaluation.csv")
gathered_df.rename(columns = {'KIDS':'PARENT_STATUS'})
res = list(set(df).difference(set(gathered_df)))
print(res)
#df = pd.concat([df, gathered_df], axis=0)
print(f"Data shape: \n{df.shape}\n")
print(f"Data size: \n{df.size}\n")
print(f"Data ndim: \n{df.ndim}\n")
print("_____________________________________________\n")

[]
Data shape:
(145, 31)

Data size:
4495

Data ndim:
2

_____________________________________________

In [388]:
oversample = SMOTE()
x_over, y_over = oversample.fit_resample(df.drop(["GRADE"], axis=1), df.drop(df.columns[0:-1],axis=1))
df = pd.concat([x_over, y_over], axis=1)

# print the dimensionality of the oversampled training dataset (0.5)
print(f"Oversampled Data shape: \n{df.shape}\n")
print(f"Oversampled Data size: \n{df.size}\n")
print(f"Oversampled Data ndim: \n{df.ndim}\n")
print("_____________________________________________\n")


# print the new class distribution using the Counter (1)
print(f"New Class Distribution: {Counter(df['GRADE'])}")
print("_____________________________________________\n")

Oversampled Data shape:
(280, 31)

Oversampled Data size:
8680

Oversampled Data ndim:
2

_____________________________________________

New Class Distribution: Counter({1: 35, 2: 35, 5: 35, 0: 35, 3: 35, 4: 35, 7: 35, 6: 35})
_____________________________________________

In [389]:
data_train, data_test = train_test_split(df, test_size=0.2, random_state=42)
print(f"Train Data shape: \n{data_train}\n")
print(f"Test Data shape: \n{data_test}\n")

Train Data shape:
     AGE  GENDER  HS_TYPE  SCHOLARSHIP  WORK  ACTIVITY  PARTNER  SALARY  \
86     2       2        2            4     2         2        2       1
137    1       1        1            5     2         1        2       1
184    2       2        2            4     1         2        2       1
5      2       2        2            3     2         2        2       2
124    1       1        2            4     1         1        1       1
..   ...     ...      ...          ...   ...       ...      ...     ...
188    1       2        2            3     1         2        1       4
71     1       1        3            4     2         2        2       1
106    1       2        2            4     2         1        2       1
270    1       2        2            4     2         1        1       1
102    1       2        2            3     2         2        1       1

     TRANSPORT  LIVING  ...  ATTEND  PREP_STUDY  PREP_EXAM  NOTES  LISTENS  \
86           4       2  ...       1           1          1      3        2
137          1       1  ...       1           1          1      3        1
184          1       1  ...       1           1          1      3        2
5            1       1  ...       1           1          1      1        2
124          1       3  ...       1           2          2      3        3
..         ...     ...  ...     ...         ...        ...    ...      ...
188          1       1  ...       1           1          1      1        2
71           1       3  ...       1           1          1      2        3
106          1       2  ...       1           3          2      2        2
270          1       2  ...       1           1          1      3        2
102          1       2  ...       1           1          1      3        1

     LIKES_DISCUSS  CLASSROOM  CUML_GPA  EXP_GPA  GRADE
86               3          2         5        4      5
137              3          1         2        4      2
184              2          1         4        3      3
5                1          2         4        4      2
124              2          1         3        3      3
..             ...        ...       ...      ...    ...
188              2          1         4        3      3
71               3          3         2        2      6
106              2          1         4        4      7
270              3          2         2        3      7
102              2          1         3        4      7

[224 rows x 31 columns]

Test Data shape:
     AGE  GENDER  HS_TYPE  SCHOLARSHIP  WORK  ACTIVITY  PARTNER  SALARY  \
33     2       1        2            3     1         2        1       1
108    2       1        1            5     2         1        2       2
240    1       2        2            3     1         1        2       1
259    1       1        2            4     1         1        2       1
154    1       1        1            3     1         1        1       1
9      2       1        2            3     2         2        1       3
146    1       1        1            3     1         1        1       1
203    1       2        2            4     1         1        2       1
144    1       1        1            5     2         2        2       3
155    1       1        1            4     2         1        1       1
221    1       1        2            1     1         2        1       1
92     1       2        2            3     2         2        2       1
222    2       1        2            3     1         1        1       1
209    1       2        2            2     1         2        1       1
42     2       2        2            3     2         1        2       1
210    2       1        2            3     1         1        1       1
66     2       2        2            3     2         2        1       1
90     2       1        2            3     2         1        1       1
119    2       1        2            4     2         1        2       1
142    1       1        1            4     2         2        2       1
262    1       2        2            3     1         2        1       1
268    1       2        2            3     2         1        1       1
206    2       1        2            3     1         1        2       1
238    2       1        2            4     1         1        1       1
46     2       2        2            3     2         2        1       1
77     1       2        1            2     2         2        1       2
68     2       1        2            4     1         2        2       1
75     1       2        2            4     2         1        2       1
216    2       2        1            2     1         1        2       1
277    1       2        1            2     2         2        1       2
45     1       2        2            3     2         2        1       4
111    1       1        1            5     2         1        2       1
60     2       1        2            3     2         2        2       5
217    2       1        2            3     1         1        1       1
143    2       1        2            4     1         1        1       5
30     2       2        2            5     1         1        1       1
22     2       2        2            3     1         2        1       1
24     2       2        2            3     2         2        2       2
127    1       1        2            4     2         2        2       1
176    1       2        2            3     1         2        1       3
79     2       2        2            4     2         2        2       1
264    1       2        1            3     2         1        1       1
237    2       1        2            4     2         2        1       1
120    2       1        1            3     1         1        1       2
196    1       1        1            3     1         1        1       1
245    1       1        2            3     1         1        1       1
168    1       1        1            4     2         1        1       1
6      1       2        2            4     2         2        2       1
239    2       1        2            3     1         2        1       1
73     2       2        2            4     2         2        2       1
84     3       2        3            3     1         2        1       3
56     2       2        2            3     2         1        2       1
25     2       2        2            3     2         2        1       1
97     1       2        2            4     1         2        2       1
147    1       1        1            4     1         2        1       1
19     1       2        1            3     2         2        1       2

     TRANSPORT  LIVING  ...  ATTEND  PREP_STUDY  PREP_EXAM  NOTES  LISTENS  \
33           1       1  ...       1           1          1      1        3
108          2       1  ...       2           1          1      2        3
240          1       2  ...       1           1          1      2        2
259          1       3  ...       1           1          1      2        3
154          1       1  ...       1           1          1      2        2
9            4       2  ...       2           1          1      2        2
146          1       2  ...       1           2          1      2        2
203          1       1  ...       1           1          1      3        2
144          1       1  ...       1           2          1      3        2
155          2       1  ...       1           1          1      2        2
221          1       1  ...       1           1          1      2        3
92           1       1  ...       1           1          1      3        2
222          1       2  ...       1           1          1      2        1
209          1       1  ...       1           1          1      3        1
42           4       2  ...       1           1          1      2        1
210          1       1  ...       1           1          1      2        3
66           1       1  ...       1           1          1      3        2
90           2       3  ...       1           1          1      2        3
119          1       2  ...       1           1          2      2        2
142          1       1  ...       1           1          1      3        3
262          1       1  ...       1           1          1      3        2
268          1       2  ...       1           1          1      2        1
206          1       1  ...       1           1          1      3        2
238          1       1  ...       1           1          1      2        2
46           1       1  ...       1           1          1      2        2
77           2       2  ...       2           3          1      2        2
68           1       1  ...       2           1          1      2        2
75           1       3  ...       1           1          1      2        2
216          1       1  ...       1           1          1      2        1
277          1       2  ...       1           2          1      2        2
45           1       1  ...       1           1          1      2        2
111          1       2  ...       1           1          1      3        1
60           2       1  ...       1           1          1      1        3
217          1       1  ...       1           1          1      2        3
143          2       3  ...       1           2          1      2        1
30           1       2  ...       1           2          1      2        3
22           1       1  ...       1           1          2      3        1
24           1       1  ...       1           1          1      2        1
127          4       3  ...       1           1          1      3        2
176          1       1  ...       2           2          1      2        1
79           1       1  ...       1           1          1      3        3
264          1       1  ...       1           1          1      2        2
237          1       1  ...       1           2          1      2        2
120          2       3  ...       2           2          1      3        3
196          1       1  ...       1           1          1      3        2
245          1       2  ...       1           1          1      2        2
168          3       2  ...       1           1          1      2        2
6            1       3  ...       2           1          1      3        3
239          1       1  ...       1           1          1      2        2
73           1       2  ...       1           1          2      3        2
84           1       2  ...       1           3          3      3        3
56           1       1  ...       1           1          2      3        2
25           1       2  ...       1           1          1      2        1
97           1       3  ...       1           1          1      3        2
147          1       1  ...       1           1          1      2        2
19           2       2  ...       1           1          1      3        2

     LIKES_DISCUSS  CLASSROOM  CUML_GPA  EXP_GPA  GRADE
33               2          2         2        3      2
108              1          2         3        3      6
240              2          1         2        2      6
259              2          2         2        2      6
154              2          2         3        2      0
9                2          2         1        2      0
146              2          1         2        2      0
203              3          2         4        3      4
144              3          1         5        4      3
155              2          2         3        2      0
221              2          2         2        2      4
92               3          3         2        2      7
222              2          1         3        3      5
209              3          2         2        2      4
42               3          1         2        3      1
210              1          1         3        2      4
66               2          3         5        4      5
90               2          3         4        2      6
119              3          1         3        3      2
142              2          1         4        3      1
262              2          3         2        2      7
268              2          1         3        4      7
206              2          1         2        2      4
238              3          2         4        3      5
46               3          1         4        2      5
77               2          2         1        1      7
68               3          2         4        3      5
75               2          2         4        1      7
216              2          1         4        3      4
277              2          1         1        1      7
45               2          1         4        3      3
111              3          3         4        3      2
60               3          1         2        1      2
217              1          1         3        2      4
143              2          1         5        3      4
30               3          3         5        4      5
22               2          3         3        3      3
24               3          2         4        4      2
127              2          1         2        2      1
176              2          1         2        2      2
79               3          2         4        4      3
264              3          1         4        4      7
237              2          1         3        2      5
120              3          2         2        2      1
196              2          2         2        3      3
245              2          1         3        2      6
168              2          1         2        2      0
6                3          3         4        4      5
239              2          2         4        3      5
73               3          1         5        3      6
84               3          3         5        4      7
56               3          3         5        4      5
25               3          2         1        2      3
97               2          1         3        3      6
147              2          2         3        2      0
19               2          3         2        3      3

[56 rows x 31 columns]

In [390]:
df

,AGE,GENDER,HS_TYPE,SCHOLARSHIP,WORK,ACTIVITY,PARTNER,SALARY,TRANSPORT,LIVING,...,ATTEND,PREP_STUDY,PREP_EXAM,NOTES,LISTENS,LIKES_DISCUSS,CLASSROOM,CUML_GPA,EXP_GPA,GRADE
0,2,2,3,3,1,2,2,1,1,1,...,1,1,1,3,2,1,2,1,1,1
1,2,2,3,3,1,2,2,1,1,1,...,1,1,1,3,2,3,2,2,3,1
2,2,2,2,3,2,2,2,2,4,2,...,1,1,1,2,2,1,1,2,2,1
3,1,1,1,3,1,2,1,2,1,2,...,1,1,2,3,2,2,1,3,2,1
4,2,2,1,3,2,2,1,3,1,4,...,1,2,1,2,2,2,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,1,2,2,4,1,2,1,1,1,1,...,1,1,1,3,2,2,2,3,3,7
276,1,2,2,4,2,1,1,1,1,2,...,1,1,1,3,2,2,1,2,3,7
277,1,2,1,2,2,2,1,2,1,2,...,1,2,1,2,2,2,1,1,1,7
278,1,2,2,4,2,1,1,1,1,1,...,1,1,1,3,2,3,2,2,3,7
279,1,2,2,4,2,1,2,1,1,1,...,1,2,1,2,2,2,1,3,3,7

In [391]:
#Extracting Labels

columns = data_train.columns.to_list()
columns_drop = columns.pop(-1)
labels_train = data_train.drop(columns, axis=1)
labels_test = data_test.drop(columns, axis=1)

print(f"labels_train: \n{labels_train}\n")
print(f"labels_test: \n{labels_test}\n")

features_train = data_train.drop(['GRADE'], axis=1)
features_test = data_test.drop(['GRADE'], axis=1)
print(f"features_train: \n{features_train }\n")
print(f"lfeatures_test: \n{features_test }\n")

labels_train:
     GRADE
86       5
137      2
184      3
5        2
124      3
..     ...
188      3
71       6
106      7
270      7
102      7

[224 rows x 1 columns]

labels_test:
     GRADE
33       2
108      6
240      6
259      6
154      0
9        0
146      0
203      4
144      3
155      0
221      4
92       7
222      5
209      4
42       1
210      4
66       5
90       6
119      2
142      1
262      7
268      7
206      4
238      5
46       5
77       7
68       5
75       7
216      4
277      7
45       3
111      2
60       2
217      4
143      4
30       5
22       3
24       2
127      1
176      2
79       3
264      7
237      5
120      1
196      3
245      6
168      0
6        5
239      5
73       6
84       7
56       5
25       3
97       6
147      0
19       3

features_train:
     AGE  GENDER  HS_TYPE  SCHOLARSHIP  WORK  ACTIVITY  PARTNER  SALARY  \
86     2       2        2            4     2         2        2       1
137    1       1        1            5     2         1        2       1
184    2       2        2            4     1         2        2       1
5      2       2        2            3     2         2        2       2
124    1       1        2            4     1         1        1       1
..   ...     ...      ...          ...   ...       ...      ...     ...
188    1       2        2            3     1         2        1       4
71     1       1        3            4     2         2        2       1
106    1       2        2            4     2         1        2       1
270    1       2        2            4     2         1        1       1
102    1       2        2            3     2         2        1       1

     TRANSPORT  LIVING  ...  IMPACT  ATTEND  PREP_STUDY  PREP_EXAM  NOTES  \
86           4       2  ...       1       1           1          1      3
137          1       1  ...       1       1           1          1      3
184          1       1  ...       2       1           1          1      3
5            1       1  ...       1       1           1          1      1
124          1       3  ...       1       1           2          2      3
..         ...     ...  ...     ...     ...         ...        ...    ...
188          1       1  ...       1       1           1          1      1
71           1       3  ...       1       1           1          1      2
106          1       2  ...       1       1           3          2      2
270          1       2  ...       1       1           1          1      3
102          1       2  ...       1       1           1          1      3

     LISTENS  LIKES_DISCUSS  CLASSROOM  CUML_GPA  EXP_GPA
86         2              3          2         5        4
137        1              3          1         2        4
184        2              2          1         4        3
5          2              1          2         4        4
124        3              2          1         3        3
..       ...            ...        ...       ...      ...
188        2              2          1         4        3
71         3              3          3         2        2
106        2              2          1         4        4
270        2              3          2         2        3
102        1              2          1         3        4

[224 rows x 30 columns]

lfeatures_test:
     AGE  GENDER  HS_TYPE  SCHOLARSHIP  WORK  ACTIVITY  PARTNER  SALARY  \
33     2       1        2            3     1         2        1       1
108    2       1        1            5     2         1        2       2
240    1       2        2            3     1         1        2       1
259    1       1        2            4     1         1        2       1
154    1       1        1            3     1         1        1       1
9      2       1        2            3     2         2        1       3
146    1       1        1            3     1         1        1       1
203    1       2        2            4     1         1        2       1
144    1       1        1            5     2         2        2       3
155    1       1        1            4     2         1        1       1
221    1       1        2            1     1         2        1       1
92     1       2        2            3     2         2        2       1
222    2       1        2            3     1         1        1       1
209    1       2        2            2     1         2        1       1
42     2       2        2            3     2         1        2       1
210    2       1        2            3     1         1        1       1
66     2       2        2            3     2         2        1       1
90     2       1        2            3     2         1        1       1
119    2       1        2            4     2         1        2       1
142    1       1        1            4     2         2        2       1
262    1       2        2            3     1         2        1       1
268    1       2        2            3     2         1        1       1
206    2       1        2            3     1         1        2       1
238    2       1        2            4     1         1        1       1
46     2       2        2            3     2         2        1       1
77     1       2        1            2     2         2        1       2
68     2       1        2            4     1         2        2       1
75     1       2        2            4     2         1        2       1
216    2       2        1            2     1         1        2       1
277    1       2        1            2     2         2        1       2
45     1       2        2            3     2         2        1       4
111    1       1        1            5     2         1        2       1
60     2       1        2            3     2         2        2       5
217    2       1        2            3     1         1        1       1
143    2       1        2            4     1         1        1       5
30     2       2        2            5     1         1        1       1
22     2       2        2            3     1         2        1       1
24     2       2        2            3     2         2        2       2
127    1       1        2            4     2         2        2       1
176    1       2        2            3     1         2        1       3
79     2       2        2            4     2         2        2       1
264    1       2        1            3     2         1        1       1
237    2       1        2            4     2         2        1       1
120    2       1        1            3     1         1        1       2
196    1       1        1            3     1         1        1       1
245    1       1        2            3     1         1        1       1
168    1       1        1            4     2         1        1       1
6      1       2        2            4     2         2        2       1
239    2       1        2            3     1         2        1       1
73     2       2        2            4     2         2        2       1
84     3       2        3            3     1         2        1       3
56     2       2        2            3     2         1        2       1
25     2       2        2            3     2         2        1       1
97     1       2        2            4     1         2        2       1
147    1       1        1            4     1         2        1       1
19     1       2        1            3     2         2        1       2

     TRANSPORT  LIVING  ...  IMPACT  ATTEND  PREP_STUDY  PREP_EXAM  NOTES  \
33           1       1  ...       1       1           1          1      1
108          2       1  ...       1       2           1          1      2
240          1       2  ...       1       1           1          1      2
259          1       3  ...       1       1           1          1      2
154          1       1  ...       1       1           1          1      2
9            4       2  ...       1       2           1          1      2
146          1       2  ...       1       1           2          1      2
203          1       1  ...       1       1           1          1      3
144          1       1  ...       1       1           2          1      3
155          2       1  ...       1       1           1          1      2
221          1       1  ...       1       1           1          1      2
92           1       1  ...       1       1           1          1      3
222          1       2  ...       1       1           1          1      2
209          1       1  ...       1       1           1          1      3
42           4       2  ...       1       1           1          1      2
210          1       1  ...       2       1           1          1      2
66           1       1  ...       1       1           1          1      3
90           2       3  ...       1       1           1          1      2
119          1       2  ...       1       1           1          2      2
142          1       1  ...       1       1           1          1      3
262          1       1  ...       1       1           1          1      3
268          1       2  ...       1       1           1          1      2
206          1       1  ...       1       1           1          1      3
238          1       1  ...       1       1           1          1      2
46           1       1  ...       1       1           1          1      2
77           2       2  ...       1       2           3          1      2
68           1       1  ...       1       2           1          1      2
75           1       3  ...       1       1           1          1      2
216          1       1  ...       1       1           1          1      2
277          1       2  ...       1       1           2          1      2
45           1       1  ...       1       1           1          1      2
111          1       2  ...       2       1           1          1      3
60           2       1  ...       1       1           1          1      1
217          1       1  ...       2       1           1          1      2
143          2       3  ...       1       1           2          1      2
30           1       2  ...       1       1           2          1      2
22           1       1  ...       1       1           1          2      3
24           1       1  ...       1       1           1          1      2
127          4       3  ...       1       1           1          1      3
176          1       1  ...       2       2           2          1      2
79           1       1  ...       3       1           1          1      3
264          1       1  ...       1       1           1          1      2
237          1       1  ...       1       1           2          1      2
120          2       3  ...       1       2           2          1      3
196          1       1  ...       1       1           1          1      3
245          1       2  ...       1       1           1          1      2
168          3       2  ...       1       1           1          1      2
6            1       3  ...       1       2           1          1      3
239          1       1  ...       1       1           1          1      2
73           1       2  ...       1       1           1          2      3
84           1       2  ...       1       1           3          3      3
56           1       1  ...       1       1           1          2      3
25           1       2  ...       1       1           1          1      2
97           1       3  ...       1       1           1          1      3
147          1       1  ...       1       1           1          1      2
19           2       2  ...       2       1           1          1      3

     LISTENS  LIKES_DISCUSS  CLASSROOM  CUML_GPA  EXP_GPA
33         3              2          2         2        3
108        3              1          2         3        3
240        2              2          1         2        2
259        3              2          2         2        2
154        2              2          2         3        2
9          2              2          2         1        2
146        2              2          1         2        2
203        2              3          2         4        3
144        2              3          1         5        4
155        2              2          2         3        2
221        3              2          2         2        2
92         2              3          3         2        2
222        1              2          1         3        3
209        1              3          2         2        2
42         1              3          1         2        3
210        3              1          1         3        2
66         2              2          3         5        4
90         3              2          3         4        2
119        2              3          1         3        3
142        3              2          1         4        3
262        2              2          3         2        2
268        1              2          1         3        4
206        2              2          1         2        2
238        2              3          2         4        3
46         2              3          1         4        2
77         2              2          2         1        1
68         2              3          2         4        3
75         2              2          2         4        1
216        1              2          1         4        3
277        2              2          1         1        1
45         2              2          1         4        3
111        1              3          3         4        3
60         3              3          1         2        1
217        3              1          1         3        2
143        1              2          1         5        3
30         3              3          3         5        4
22         1              2          3         3        3
24         1              3          2         4        4
127        2              2          1         2        2
176        1              2          1         2        2
79         3              3          2         4        4
264        2              3          1         4        4
237        2              2          1         3        2
120        3              3          2         2        2
196        2              2          2         2        3
245        2              2          1         3        2
168        2              2          1         2        2
6          3              3          3         4        4
239        2              2          2         4        3
73         2              3          1         5        3
84         3              3          3         5        4
56         2              3          3         5        4
25         1              3          2         1        2
97         2              2          1         3        3
147        2              2          2         3        2
19         2              2          3         2        3

[56 rows x 30 columns]

In [392]:

ohenc = OneHotEncoder(sparse=False)
ohenc_cols = ohenc.fit(features_train).get_feature_names_out()
# temp = np.append(ohenc_cols[0:37],['MOTHER_EDU_6'])
# temp2 = np.append(temp, ohenc_cols[37::])
# ohenc_cols = temp2
# print(ohenc_cols)
# encoded_train = ohenc.fit_transform(features_train)
data_prepared = pd.DataFrame(ohenc.fit_transform(features_train),columns=ohenc_cols, index=features_train.index)
#full_pipeline.fit_transform(data_train)
#pd.DataFrame(full_pipeline.fit_transform(train_df),columns=train_df.columns, index=train_df.index)\

zero_data = np.zeros(shape=(len(data_prepared),1))

data_prepared.insert(37,"MOTHER_EDU_6", zero_data) #Inserting those columns that are not represented in the train data

In [393]:
# create the following four different models with their default hyperparameter values to be trained using the preprocessed data (0.5 * 4)
labelTrainFlat = labels_train.values.ravel()
# Gradient Boosting
gradientBoosting = GradientBoostingClassifier()
gradientBoosting = gradientBoosting.fit(data_prepared, labelTrainFlat)

# Decision Trees
decisionTree = DecisionTreeClassifier()
decisionTree = decisionTree.fit(data_prepared,labelTrainFlat)

# Random Forests
randomForest = RandomForestClassifier()
randomForest = randomForest.fit(data_prepared,labelTrainFlat)

In [394]:
parametersGradientBoosting = [
    {'min_samples_leaf': [0.00001, 1,2,4, 10],'min_samples_split': [2,3,4], 'n_estimators': [10,100,50, 120]}
]
scoringX = {"accuracy": "accuracy", "bal_accuracy": "balanced_accuracy", "F1_macro": "f1_macro"}

grid_searchGradientBoosting = GridSearchCV(gradientBoosting, parametersGradientBoosting, cv=3, scoring = scoringX, return_train_score=True, n_jobs=-1, refit='bal_accuracy')

grid_searchGradientBoosting.fit(data_prepared, labelTrainFlat)

print(f"Best parameters GradientBoosting: \n{grid_searchGradientBoosting.best_params_}\n")
print(f"Best estimator GradientBoosting: \n{grid_searchGradientBoosting.best_estimator_}\n")
print(f"Best score GradientBoosting: \n{grid_searchGradientBoosting.best_score_}\n")

Best parameters GradientBoosting:
{'min_samples_leaf': 4, 'min_samples_split': 2, 'n_estimators': 100}

Best estimator GradientBoosting:
GradientBoostingClassifier(min_samples_leaf=4)

Best score GradientBoosting:
0.6406144781144781

In [395]:
parametersDecisionTree = [
    {'max_depth': [1,2,3,4], 'min_samples_leaf': [4,5,6], 'min_samples_split': [1,2,3]}
]

grid_searchDecisionTree = GridSearchCV(decisionTree, parametersDecisionTree, cv=4, scoring = scoringX, return_train_score=True, n_jobs=-1, refit='bal_accuracy')

grid_searchDecisionTree.fit(data_prepared, labelTrainFlat)

print(f"Best parameters DecisionTree: \n{grid_searchDecisionTree.best_params_}\n")
print(f"Best estimator DecisionTree: \n{grid_searchDecisionTree.best_estimator_}\n")
print(f"Best score DecisionTree: \n{grid_searchDecisionTree.best_score_}\n")

Best parameters DecisionTree:
{'max_depth': 4, 'min_samples_leaf': 6, 'min_samples_split': 2}

Best estimator DecisionTree:
DecisionTreeClassifier(max_depth=4, min_samples_leaf=6)

Best score DecisionTree:
0.3623511904761904

C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
48 fits failed out of a total of 144.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
48 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\tree\_classes.py", line 250, in fit
    raise ValueError(
ValueError: min_samples_split must be an integer greater than 1 or a float in (0.0, 1.0]; got the integer 1

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.22767857 0.22767857        nan 0.22767857 0.22767857
        nan 0.22767857 0.22767857        nan 0.25892857 0.25892857
        nan 0.25892857 0.25892857        nan 0.25892857 0.25892857
        nan 0.29910714 0.29910714        nan 0.30357143 0.30357143
        nan 0.30803571 0.30803571        nan 0.33928571 0.33928571
        nan 0.34375    0.34375           nan 0.35714286 0.35714286]
  warnings.warn(
C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the train scores are non-finite: [       nan 0.23809524 0.23809524        nan 0.23809524 0.23809524
        nan 0.23809524 0.23809524        nan 0.32589286 0.32589286
        nan 0.32589286 0.32589286        nan 0.32589286 0.32589286
        nan 0.4360119  0.4360119         nan 0.4389881  0.4389881
        nan 0.4375     0.4375            nan 0.55803571 0.55803571
        nan 0.54761905 0.54761905        nan 0.54464286 0.54464286]
  warnings.warn(
C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.22321429 0.22321429        nan 0.22321429 0.22321429
        nan 0.22321429 0.22321429        nan 0.24720982 0.24720982
        nan 0.24720982 0.24720982        nan 0.24720982 0.24720982
        nan 0.30208333 0.30208333        nan 0.3046875  0.3046875
        nan 0.30915179 0.30915179        nan 0.34263393 0.34263393
        nan 0.34486607 0.34486607        nan 0.36235119 0.36235119]
  warnings.warn(
C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the train scores are non-finite: [       nan 0.23559253 0.23559253        nan 0.23559253 0.23559253
        nan 0.23559253 0.23559253        nan 0.31780568 0.31780568
        nan 0.31780568 0.31780568        nan 0.31780568 0.31780568
        nan 0.43543087 0.43543087        nan 0.43861819 0.43861819
        nan 0.43745653 0.43745653        nan 0.55840345 0.55840345
        nan 0.54757447 0.54757447        nan 0.54674209 0.54674209]
  warnings.warn(
C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [       nan 0.0959832  0.0959832         nan 0.0959832  0.0959832
        nan 0.0959832  0.0959832         nan 0.17701807 0.17701807
        nan 0.17701807 0.17701807        nan 0.17701807 0.17701807
        nan 0.26427238 0.26427238        nan 0.27063484 0.27063484
        nan 0.26856486 0.26856486        nan 0.3162571  0.31600406
        nan 0.32641241 0.32641241        nan 0.33854855 0.33854855]
  warnings.warn(
C:\Users\adamj\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the train scores are non-finite: [       nan 0.10216442 0.10216442        nan 0.10216442 0.10216442
        nan 0.10216442 0.10216442        nan 0.22089391 0.22089391
        nan 0.22089391 0.22089391        nan 0.22089391 0.22089391
        nan 0.38806576 0.38806576        nan 0.38871233 0.38871233
        nan 0.38694862 0.38694862        nan 0.55483732 0.55483732
        nan 0.54310203 0.54310203        nan 0.53555222 0.53555222]
  warnings.warn(

In [396]:
parametersRandomForest = [
    {'n_estimators': [145,150,155,190],'max_depth': [5,6,7], 'bootstrap': [True, False]}
]

grid_searchRandomForest = GridSearchCV(randomForest, parametersRandomForest, cv=4, scoring = scoringX, return_train_score=True, n_jobs=-1, refit='bal_accuracy')

grid_searchRandomForest.fit(data_prepared, labelTrainFlat)

print(f"Best parameters RandomForest: \n{grid_searchRandomForest.best_params_}\n")

print(f"Best estimator RandomForest: \n{grid_searchRandomForest.best_estimator_}\n")

print(f"Best score RandomForest: \n{grid_searchRandomForest.best_score_}\n")

Best parameters RandomForest:
{'bootstrap': True, 'max_depth': 7, 'n_estimators': 190}

Best estimator RandomForest:
RandomForestClassifier(max_depth=7, n_estimators=190)

Best score RandomForest:
0.6579241071428572

In [397]:
# print the grid search cross-validation results listing the above mentioned evaluation methods (3)
cross_val_resultsGB = grid_searchGradientBoosting.cv_results_
cross_val_resultsDT = grid_searchDecisionTree.cv_results_
cross_val_resultsRF = grid_searchRandomForest.cv_results_



print(f"Mean Test Accuracy for GradientBoosting: \n{cross_val_resultsGB['mean_test_accuracy']}\n")
print(f"Balanced Test Accuracy for GradientBoosting: \n{cross_val_resultsGB['mean_test_bal_accuracy']}\n")
print(f"Mean F1 Macro for GradientBoosting: \n{cross_val_resultsGB['mean_test_F1_macro']}\n")

#DTC
print(f"Mean Test Accuracy for Decision Trees: \n{cross_val_resultsDT['mean_test_accuracy']}\n")
print(f"Balanced Test Accuracy for Decision Trees: \n{cross_val_resultsDT['mean_test_bal_accuracy']}\n")
print(f"Mean F1 Macro for Decision Trees: \n{cross_val_resultsDT['mean_test_F1_macro']}\n")

#RFC
print(f"Mean Test Accuracy for Random Forests: \n{cross_val_resultsRF['mean_test_accuracy']}\n")
print(f"Balanced Test Accuracy for Random Forests: \n{cross_val_resultsRF['mean_test_bal_accuracy']}\n")
print(f"Mean F1 Macro for Random Forests: \n{cross_val_resultsRF['mean_test_F1_macro']}\n")

#NB

Mean Test Accuracy for GradientBoosting:
[0.53555556 0.58036036 0.61597598 0.58936937 0.54012012 0.58930931
 0.61603604 0.61603604 0.53555556 0.5981982  0.58936937 0.5981982
 0.53567568 0.58486486 0.6027027  0.57597598 0.54906907 0.58036036
 0.59375375 0.58036036 0.5354955  0.57585586 0.5981982  0.59375375
 0.55345345 0.57615616 0.59387387 0.57147147 0.56246246 0.59387387
 0.58024024 0.58054054 0.54012012 0.58942943 0.60276276 0.59825826
 0.50426426 0.63405405 0.62510511 0.63405405 0.51327327 0.62522523
 0.61177177 0.62066066 0.50870871 0.59837838 0.61615616 0.59843844
 0.53567568 0.60720721 0.59369369 0.62054054 0.53567568 0.60720721
 0.5803003  0.5981982  0.53567568 0.57585586 0.5803003  0.5981982 ]

Balanced Test Accuracy for GradientBoosting:
[0.54235059 0.58395412 0.62148569 0.59275042 0.54782197 0.59367635
 0.62018098 0.6205282  0.5436553  0.60435606 0.59425505 0.60444024
 0.54281355 0.59035143 0.60756524 0.58071338 0.55632365 0.58534301
 0.59888468 0.58525884 0.54289773 0.58129209 0.60351431 0.59888468
 0.56086911 0.58187079 0.59757997 0.57527357 0.5696654  0.59807449
 0.58453283 0.58511153 0.54379209 0.59379209 0.60545034 0.60073653
 0.50944865 0.64061448 0.63039773 0.64049874 0.51920244 0.63239689
 0.6169718  0.62614689 0.51323653 0.60485059 0.62113847 0.60627104
 0.54008838 0.61092172 0.59795875 0.62446338 0.54008838 0.61092172
 0.58441709 0.60212542 0.54055135 0.57932449 0.58441709 0.60108375]

Mean F1 Macro for GradientBoosting:
[0.53468822 0.58258567 0.61776766 0.58865034 0.53629972 0.5948395
 0.61694455 0.62046842 0.53072681 0.59950251 0.58770698 0.60289961
 0.53252329 0.58498511 0.60590484 0.57751004 0.54174202 0.57953896
 0.59615887 0.58392085 0.53088959 0.58044304 0.59657757 0.59628951
 0.5476435  0.57963715 0.59772031 0.5749732  0.55743955 0.60305932
 0.57942608 0.58374577 0.53079254 0.59808889 0.60446195 0.60189078
 0.50220677 0.63117064 0.63090287 0.64055857 0.51175117 0.62582369
 0.61372123 0.61991009 0.50438095 0.60020227 0.62179666 0.59730026
 0.5245981  0.61144948 0.59502647 0.62283837 0.5245981  0.61144948
 0.58245135 0.60089672 0.52374728 0.57706612 0.58245135 0.60021221]

Mean Test Accuracy for Decision Trees:
[       nan 0.22767857 0.22767857        nan 0.22767857 0.22767857
        nan 0.22767857 0.22767857        nan 0.25892857 0.25892857
        nan 0.25892857 0.25892857        nan 0.25892857 0.25892857
        nan 0.29910714 0.29910714        nan 0.30357143 0.30357143
        nan 0.30803571 0.30803571        nan 0.33928571 0.33928571
        nan 0.34375    0.34375           nan 0.35714286 0.35714286]

Balanced Test Accuracy for Decision Trees:
[       nan 0.22321429 0.22321429        nan 0.22321429 0.22321429
        nan 0.22321429 0.22321429        nan 0.24720982 0.24720982
        nan 0.24720982 0.24720982        nan 0.24720982 0.24720982
        nan 0.30208333 0.30208333        nan 0.3046875  0.3046875
        nan 0.30915179 0.30915179        nan 0.34263393 0.34263393
        nan 0.34486607 0.34486607        nan 0.36235119 0.36235119]

Mean F1 Macro for Decision Trees:
[       nan 0.0959832  0.0959832         nan 0.0959832  0.0959832
        nan 0.0959832  0.0959832         nan 0.17701807 0.17701807
        nan 0.17701807 0.17701807        nan 0.17701807 0.17701807
        nan 0.26427238 0.26427238        nan 0.27063484 0.27063484
        nan 0.26856486 0.26856486        nan 0.3162571  0.31600406
        nan 0.32641241 0.32641241        nan 0.33854855 0.33854855]

Mean Test Accuracy for Random Forests:
[0.60714286 0.57589286 0.55803571 0.60714286 0.60714286 0.59821429
 0.63392857 0.62053571 0.63392857 0.62946429 0.62053571 0.65178571
 0.57589286 0.56696429 0.5625     0.60267857 0.59375    0.62053571
 0.62053571 0.625      0.63392857 0.63392857 0.62946429 0.62946429]

Balanced Test Accuracy for Random Forests:
[0.61290923 0.57868304 0.56212798 0.61179315 0.61439732 0.60677083
 0.6391369  0.62462798 0.63932292 0.63448661 0.62686012 0.65792411
 0.58017113 0.56975446 0.56603423 0.60770089 0.59988839 0.62779018
 0.62593006 0.63225446 0.63802083 0.640625   0.63671875 0.63820685]

Mean F1 Macro for Random Forests:
[0.59417802 0.5634415  0.54939581 0.59519623 0.60135668 0.58424526
 0.61911681 0.61165775 0.6276547  0.6161274  0.59873353 0.63895576
 0.56606546 0.55930814 0.55232414 0.59196584 0.58350833 0.60815612
 0.61146127 0.6102906  0.62649654 0.62615044 0.61300081 0.61625059]

In [398]:
# use a dummy classifier to identify a simple baseline (i.e., a majority class baseline) so that you can compare your prediction results (3)
dummy_clf = DummyClassifier(strategy="most_frequent")
dummy_clf.fit(data_prepared, labelTrainFlat)
DummyClassifier(strategy='most_frequent')
print(f"Dummy Prediction: \n{dummy_clf.predict(data_prepared)}\n") 
print(f"Dummy Score: \n{dummy_clf.score(data_prepared, labelTrainFlat)}\n")

Dummy Prediction:
[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1]

Dummy Score:
0.13839285714285715

In [439]:

ohenc_test = OneHotEncoder(sparse=False)
ohenc_cols_test = ohenc_test.fit(features_test).get_feature_names_out()

missing_cols_from_test = ['MOTHER_JOB_5', 'LIVING_4', 'FATHER_EDU_6']
missing_cols_from_train = ['MOTHER_EDU_6']

data_prepared_test = pd.DataFrame(ohenc.fit_transform(features_test),columns=ohenc_cols_test, index=features_test.index)
missing_cols_df = pd.DataFrame(0, index=np.arange(56), columns=missing_cols_from_test)
res = list(set(ohenc_cols).difference(set(ohenc_cols_test)))

zero_data = np.zeros(shape=(len(data_prepared_test),1))

data_prepared_test.insert(54,"MOTHER_JOB_5", zero_data) #Inserting those columns that are not represented in the test data
data_prepared_test.insert(31,"LIVING_4", zero_data)
data_prepared_test.insert(43,"FATHER_EDU_6", zero_data)



# obtain predictions on test data using the best model from GridSearchCV (i.e., .best_estimator_) (2)
predictions_test = grid_searchGradientBoosting.best_estimator_.predict(data_prepared_test)

# generate the classification report and the confusion matrix for test predictions (3)
print(classification_report(labels_test.values.ravel(),predictions_test))
print(confusion_matrix(labels_test, predictions_test))

              precision    recall  f1-score   support

           0       0.75      1.00      0.86         6
           1       0.40      0.50      0.44         4
           2       0.60      0.50      0.55         6
           3       0.57      0.57      0.57         7
           4       0.89      1.00      0.94         8
           5       0.75      0.60      0.67        10
           6       0.40      0.57      0.47         7
           7       0.75      0.38      0.50         8

    accuracy                           0.64        56
   macro avg       0.64      0.64      0.62        56
weighted avg       0.66      0.64      0.64        56

[[6 0 0 0 0 0 0 0]
 [2 2 0 0 0 0 0 0]
 [0 1 3 0 0 1 1 0]
 [0 1 1 4 0 0 0 1]
 [0 0 0 0 8 0 0 0]
 [0 0 0 0 1 6 3 0]
 [0 1 0 1 0 1 4 0]
 [0 0 1 2 0 0 2 3]]